
/*xs*/
@media (min-width:576px) and (max-width:767px){
    .wrapper{
        top:182px;
        position: relative;
    }
}
@media (min-width:768px) and (max-width:991px){
    .wrapper{
        top:82px;
        position: relative;
    }
}
.wrapper{
    top:84px;
    position: relative;
}
.left-center {
    position: absolute;
    top: 3%;
    left: 17%;
    font-size:41px;
    font-weight: bold;
    color:white;
    
}
.headerBtn{
    background-color:#088cfc;
    color:white;
    width:260px;
    height:48px;
    line-height: 34px;
    border-radius:30px;
    position: absolute;
    top: 98%;
    margin-top: 10px;
    font-weight:bold;
    font-size:20px;
    border:5px solid white;
    
}
.custom-padding{
    width: 80%;
    margin-left: 12%;
}
.markNewHeight{
    padding-bottom: -10px;
}

.markHeight{
    height: 200px;
}

.browseByCar >span > img{
    width:70px;
    height:40px;
    margin-top:30px;
    margin-left:45px;
}
#specificCarImg{
    width:70px;
    height:50px;
    margin-top:20px;
    margin-left:45px;
}
#specificCarImgTwo{
    width:70px;
    height:45px;
    margin-top:25px;
    margin-left:45px;
}
.lowerBtn{
    position: relative;
    bottom: 0px;
    margin-left: 10px;
}
.addMar{
    margin-left: 10px;
}
.addNegMar{
    margin-left: -30px;
    margin-top: 200px;
}
.colorGrey{
    color:grey;
}
.fontSize{
    font-size:16px;
}
.alignText{
    float: left;
    margin-left: 0px;

    text-align: center;
}
#selectFWD{
    color:#044cc4;
    border:2px solid #044cc4;
    background-color:white;
    margin-top: 15px;
    width:145px;
    font-weight: bold;
    border-radius: 5px;
    height: 35px;
    display: block;
    margin-bottom: 25px;
}
#selectRWD,
#selectAWD,
#selectFourWD{
    color:#044cc4;
    border:2px solid #044cc4;
    background-color:white;
    margin-top: 160px;
    width:145px;
    font-weight: bold;
    border-radius: 5px;
    height: 35px;
    display: block;
    margin-bottom: 25px;
}

.browseByCar{
    display:flex;
    flex-wrap: wrap;
    float:left;
    margin-top:-15px;
    margin-left:-8px;
}
.textBrowseCar{
    text-align:bottom;
    color:grey;
    text-align: center;
    margin-left:30px;
    font-size:12px;
    font-weight:bold;
    margin-top:10px;
    cursor:pointer;
}
.marginMe{
    margin-top: 20px;
    margin-left: 30px;
}
@media (max-width:575px){
    .browseByCar{
        display:flex;
        flex-wrap: wrap;
        justify-content:center;
    }
    .hrStyle{
        width:20px;
    }
    #changeFontSize{
        font-size: 22px;
    }
    .markHeight{
        height: 410px;
        padding-left: 8px;
    }
    .browseByCar >span > img{
      width:80px;
      height:48px;
      margin-top:30px;
      margin-left:51px;
    }
    #specificCarImg{
        width:80px;
        height:56px;
        margin-top:20px;
        margin-left:45px;
    }
    #specificCarImgTwo{
        width:80px;
        height:53px;
        margin-top:25px;
        margin-left:45px;
    }
    .wrapper{
        top:136px;
        position: relative;
    }
    .custom-padding{
        width: 80%;
        margin-left: 6%;
    }
    .left-center {
        position: absolute;
        top: 1%;
        left: 6%;
        font-size:18px;
        font-weight: bold;
        color:white;
        
    }
    .headerBtn{
        background-color:#088cfc;
        color:white;
        width:140px;
        padding:2px;
        height:30px;
        border-radius:30px;
        position: absolute;
        font-weight:bold;
        font-size:12px;
        border:3px solid white;
        line-height: 14px;
    }
    
    .jumboo{
        width:100%;
        height:790px;
    }
    .howItWorks{
      
    }
    .worksContent{
        display:flex;
        flex-direction:row;
        flex-wrap: wrap;
        column-count: 4;
        justify-content:space-evenly;
        margin-left: 10px;
    }
    #ulList{
        width:200px;
    }
    .firstWorkContent{
        margin-top: 100px;
    }
    .thirdWorkContent{
        margin-left:-1px;
    }
    .fourthWorkContent{
        margin-right: 2px;
    }
    .clearMe{
        clear:both;
    }
    .leftPara{
        float: left;
        margin-left:15px;
        margin-top:10px;
    }
    .leftHeading{
        float: left;
        margin-left: 15px;
    }
    .rightPartBtn{
        float:right;
        background-color:white;
        color:blue;
        width:165px;
        padding:7px;
        margin-right:15px;
        font-weight:bold;
        border:1px solid white;
        border-radius:5px;
    }
    .rightPartBtn:focus {
        outline: none;
        box-shadow: none;
      }
    .addBreak{
        display: inline-block;
    }
    .browseCarBrand{
        margin-top: 220px;
    }
    .browseCarDL{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        flex:25%;
    }
    .browseCarDD{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        flex:20%;
        margin-top:10px;
    }
}
.browseByCarBrand{
    display: flex;
    flex-direction: row;
    max-width: 93%;
    margin-left:3.5%;
}
.browseCarDL{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex:25%;
}
.browseCarDD{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex:20%;
    margin-top:10px;
}
.carBrands,.carBrands:hover{
    color:#999999;
    text-decoration: none;
    font-size:18px;
}
.addBreak{
    display: none;
}
.howItWorks{
    width: 100%;
    padding-left: 5%;
    
}

.isCheckedLogo{
    width:12px;
    height:12px;
    margin-right:2px;
    align-items:center;
    border-radius: 50%;
}
ul>li{
    list-style-type: none;
    line-height:22px;
}
.isBold{
    font-weight: bold;
    text-align: center;
}
.firstWorkContent{
    margin-bottom:80px;
}
.worksContent{
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    column-count: 4;
    justify-content:space-evenly;
    margin-left: 40px;
}
.firstWorkContent{
    margin-top:80px;
}
.leftPartBtn,.rightPartBtn{
    float:right;
    background-color:white;
    color:#000;

    width:165px;
    padding:7px;
    margin-right:45px;
    font-weight:bold;
    border-radius:5px;
}
.btn:focus {
    outline: none;
    box-shadow: none;
}
.joining,.joinBuyer,.joinDealer{
    height:220px;
}

.rightPara{
    float: left;
    margin-left:22px;
    margin-top:10px;
    
}
.leftPara{
    float: right;
    margin-right:62px;
    margin-top:10px;
    max-width: 430px;
}
.leftHeading{
    float: left;
    margin-left:26%;
}
.rightHeading{
    float: left;
    margin-left:5%;
}
.rightPartBtn{
    float:right;
    background-color:white;
    margin-right:145px;
    font-weight:bold;
    border-radius:5px;
    margin-top:18px;
}