.wrapper{
    top:82px;
    position: relative;
    color: white;
}
.iContainer{
    max-width: 86%;
    margin-left: 15%;
    margin-top:22px;
}
.iContainerInner{
    max-width: 70%;
    margin-left: 15%;
    margin-top:22px;
}
.textIndentFirst{
    margin-left: 60px;
    
}

.imgTop{
    margin-top: 20px;
    margin-left: -40px;
}
.textIndentSec{
    margin-left: 80px;
    margin-top: -120px;
}
.textSize{
    font-size: 34px;
}
.hrUnderStyleA{
    width:136px;
    margin-left: 10px;
    margin-bottom: 0px;
}
.hrUnderStyleB{
    width:216px;
    margin-left: 175px;
    margin-bottom: 0px;
}
.hrUnderStyleC{
    width:207px;
    margin-left: 245px;
}
#joinCarrius{
    width:150px;
    height: 30px;
    color: white;
    background-color: #044cc4;
    border-radius:5px;
    border: 1px solid #044cc4;
}
.changeColor{
    color:black;
}
.addUpperSpace{
    margin-top: 28px;
    margin-left: -10px;
}
.textLight{
    color:#044cc4;
    font-size: 16px;
    margin-left: 5px;
    line-height: 10px;
    display: inline-block;
}
.oneBlockF{
    margin-left: -10px;
}
.oneBlock{
    margin-left: -40px;
}
.hrUnderStyle{
    width:266px;
    margin-left: 24px;
}
.marginLeft{
    margin-left: 15px;
}
.colorGrey{
    color:grey;
}
.headMargin{
    margin-left: 60px;
    margin-top:5px;
}
#paraSet{
    max-width: 370px;
    margin-left:70px;
    margin-top: -10px;
}
.headMarginEven{
    float:right;
    margin-right:260px;
    margin-top:5px;
}
/*
#paraSetEven{
    float:right;
    max-width: 370px;
    margin-top: -10px;
}*/
.addMarginTop{
    margin-top:20px;
}
.marTop{
    margin-top: 25px;
}
.headMarginRight{
    float:right;
    margin-right:100px;
    margin-top:5px;
    margin-bottom: 60px;
}
.alignRightImg{
    margin-top: 25px;
    margin-left: 165px;
}
#paraSetRight{
    max-width: 450px;
    margin-left:-40px;
    margin-top: 39px;
}
.textCenter{
    margin-left: 20%;
    font-size:22px;
    font-weight:bolder;
}
.textCenterT{
    margin-left: 10%;
    font-size:22px;
    font-weight:bolder;
}
.hrUnderStyleBrand{
    width:370px;
    margin-left: 21%;
}
#joinCarriusBtn{
    color:white;
    background-color: #044cc4;
    border-radius: 5px;
    border:1px solid #044cc4;
    height:35px;
    width:235px;
    margin-top:20px;
    margin-left:29%;
    margin-bottom: 30px;
}
@media (max-width:575px){
    .wrapper{
        top:131px;
        position: relative;
    }
    .textSize{
        font-size: 24px;
    }
    .hrUnderStyleA{
        width:96px;
        margin-left: 5px;
    }
    .hrUnderStyleB{
        width:144px;
        margin-left: 145px;
    }
    .hrUnderStyleC{
        width:137px;
        margin-left: 196px;
    }
    .hrUnderStyle{
        width:274px;
        margin-left: 20px;
    }
    .imgTop{
        margin-top: 30px;
        margin-left: 50px;
    }
    .shortViewA{
        margin-top: 20px;
        margin-left:-8px;
    }
    .shortViewB{
        margin-top: 20px;
        margin-left:-43px;
        margin-right: 20px;
        display: inline-block;
        max-width: 200px;
    }
    .headMargin{
        margin-left: 0px;
        margin-top:5px;
    }
    #paraSet{
        max-width: 350px;
        margin-left:0px;
        margin-top: -10px;
    }
    .textCenter{
        margin-left: -6%;
    }
    .hrUnderStyleBrand{
        width:370px;
        margin-left: -4%;
    }
    .textCenterT{
        margin-left: 4%;
        font-weight: bold;
    }
    #joinCarriusBtn{
        color:white;
        background-color: #044cc4;
        border-radius: 5px;
        border:1px solid #044cc4;
        height:35px;
        width:235px;
        margin-top:30px;
        margin-left:15%;
        margin-bottom: 40px;
    }
}