.wrapper{
    top:82px;
    position: relative;
    color: white;
}

.iContainer,.imgArea{
    max-width: 88%;
    margin-left: 12%;
    margin-top: 3%;
}
.favIcon{
    position: absolute;
    top:10px;
    left:90%;
    cursor: pointer;
}
#displayCar{
    width:620px; 
    height:350px;
}
.msgDealer{
    width: 100%;
    display: block;
    margin-bottom: 10px;
}
.vidCall{
    width: 100%;
    display: block;
    margin-bottom: 5px;
}
.recommendedText{
    width: 200px;
}
.msgDealerBtn{
    width:295px;
    color:white;
    background-color: #047cf3;
    height: 38px;
    font-weight: bold;
    border: 1px solid #047cf3;
}
.vidCallBtn{
    width:295px;
    color:white;
    background-color: #044cc4;
    height: 38px;
    font-weight: bold;
    border: 1px solid #044cc4;
}
.emailBtn{
    width:295px;
    background-color:white;
    color: black;
    height: 38px;
    font-weight: bold;
    margin-top: 5px;
    border: 1px solid black;
    border-radius: 5px; 
}
.infoSetUpper{
    color:black;
    font-weight: bold;
    font-size:16px;
    margin-top: -10px;
}

.smallText{
    color:black;
}
strong{
    color: #135fd7;
    font-weight: bold;
    font-size:18px;
    margin-top: -10px;
}
.infoSet{
    color:grey;
    font-weight: bold;
    font-size:14px;
}
.loctionInfo{
    color:#135fd7;
    font-size:14px;
    text-transform:capitalize;
}
#noCarFound
{
    text-align:center;
    color:red;
    margin-top:20px; 
    margin-bottom:40px;
    margin-right:2%;
}
.viewCarBtn{
    float:right;
    background-color:#044cc4;
    color:white;
    width:115px;
    display:inline-block;
    padding:1px;
    margin-right:55px;
    font-weight:bold;
    border:2px solid white;
    border-radius:8px;
    
}
.styleFavIcon{
    position: absolute;
    top:4%;
    left:81%;
    cursor: pointer;
    text-decoration: none;
}
.setFontSize{
    margin-left: 3px;
}
.dealership{
    margin-left: 5px;
    width: 30%;
    display: inline-block;
}
.location{
    width: 25%;
    display: inline-block;
}
.timing{    
    
    display: inline-block;
}
.detailUnder{
    /*background-color: #999999;*/
    color: grey;
    background-color:#f7f7f7;
    width:100%;
    display: block;
    margin-bottom: 20px;
    margin-top: 5px;
    height: 30px;
    line-height: 30px;
}
.alignHeading{
    color:black;
    margin-top: 30px;
}
.hrUnderStyle{
    margin-left:39%;
    width:260px;
}
.hrUnderStyleDInfo{
    margin-left:1%;
    width:160px;
}

.eachBlock{
    height:50%;
    margin-top:20px;
    margin-bottom:130px;
    display: grid;
    max-width: 300px;
    margin-left: 35px;
}
.infoSet{
    color:grey;
    font-weight: bold;
    font-size:14px;
}
.hrUnderStylevOver{
    margin-left: 11px;
    width:110px;
    margin-top: -10px;
}
.hrUnderStylevKey{
    margin-left: 11px;
    width:84px;
    margin-top: -10px;
}
.iContainerInfo{
    max-width: 80%;
    margin-left: 11.5%;
    padding-top: 20px;
    padding-left:20px;
    padding-bottom: 40px;
    height:225px;
}
.setFontColor{
    color:black;
}
#ratingHead{
    margin-top: -24px;
    margin-left: 35px;
}
.stars{
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #047cf3;
    margin-left: 10px;
    cursor: pointer;
}
.selectColor{
    background-color: #044cc4;
    color: white;
    border:1px solid#044cc4;
    border-radius: 5px;
    height: 35px;
}
.contactBtns{
    margin-left: -70px;
    margin-top: 140px;
}
.firstBtn{
    margin-bottom: -120px;
}
.numVal{
    color:#047cf3;
    display: block;
    margin-left: 13%;
    font-weight: bold;
}
.contactDBtn{
    width:160px;
}
.viewCBtn{
    width:220;
}
.secBtn{
    margin-left: 25px;
}
.closeModalIcon{
    color: #044cc4;
    width:45px;
    fill:#044cc4;
    stroke: #044cc4;
    opacity: 1;
}
.modalContainer{
    width: 90%;
    padding: 5% 0px 5% 10%;
}
.iconArea{
    background-color: #044cc4;
    width: 4%;
    display: inline-block;
}
.clearMe{
    clear:both;
}
.firstRow{
    margin-top: 20px;
}
.markBorder{
   border:3px solid #f7f7f7;
   margin-right: 20px;
}
.paraText{
    background-color:#f7f7f7;
    height:29px;
    line-height: 30px;
    width: 117%;
    margin-left: -31px;
    padding-left:10px;
    font-size:14px;
    display: inline-block;
}
.setMe{
    margin-top: 16px;
}
/*
.setMaxChar{
    display:inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 20ch;
}*/
.addMarginTopX{
    margin-top: 10px;
}
.addMarginTopY{
    margin-top: 5px;
}
.dealershipListing,
.locationListing,
.timingListing{
    display: block;
}
.dealershipDetail{
    display: inline-block;
    width:100%;
}
.infoContent{
    margin-left: 30px;
}
.iContainerOverview, .iContainerKey{
    max-width: 80%;
    margin-left: 12%;
}
/* First Table*/
.firstTable{
    margin-left: 7px;
}

/* Second Table*/
.secondTable{
    margin-left: 20px;
}
/* Third Table*/
.thirdTable{
    margin-left: 5px;
}
.thirdTable>td{
    margin-left: 3px;
}
.setTD{
    float: left;
    margin-left:-25px;
}
tr {
    border-style:hidden;
}
@media (max-width:575px){
    .wrapper{
        top:131px;
        position: relative;
    }
    .hrUnderStyle{
        margin-left:23%;
        width:260px;
    }
    .iContainer,.imgArea{
        max-width: 88%;
        margin-top: 4%;
        margin-left: 6%;
    }
    #displayCar{
        width:438px; 
        height:250px;
        margin-top:1%;
    }
    .favIcon{
        position: absolute;
        top:20px;
        left:87%;
        cursor: pointer;
    }
    .setFontSize{
        margin-left: 3px;
        font-size: 14px;
    }
    .detailUnder{
        /*background-color: #999999;*/
        color: grey;
        background-color:#eaeaea;
        width:100%;
        display: block;
        height: 100px;
        margin-bottom: 20px;
        margin-top: 5px;
        padding:3px;

    }
    .dealership{
        margin-left: 10px;
        display: block;
        width: 100%;
    }
    .location{
        display: block;
        margin-left: 10px;
        width: 100%;
    }
    .timing{    
        margin-left: 10px;
        display: block;
    }
    .styleFavIcon{
        position: absolute;
        top:4%;
        left:99%;
        cursor: pointer;
        text-decoration: none;
    }
    .iContainerOverview, .iContainerKey{
        max-width: 80%;
        margin-left: 9%;
    }
    .secondTable,.thirdTable{
        margin-left: -1px;
    }
    .setTD{
        margin-left: 0px;
        justify-content:space-evenly;
    }
    .setTDT{
        margin-left: 30px;
        justify-content:space-evenly;
    }
    #ratingHead{
        margin-top: 10px;
        margin-left: 35px;
    }
    .contactBtns{
        margin-left: 0px;
    }
    #contactDBtn,#viewCBtn{
        width:auto;
    }
    #viewCBtn{
        margin-top: 20px;
    }
    .firstBtn::after{
        margin-bottom: 20px;
    }
    .secBtn{
        margin-left: 0px;
        margin-top: 50px;
    }
    .iContainerInfo{
        max-width: 80%;
        margin-left: 7.5%;
        padding-top: 20px;
        padding-left:30px;
        padding-bottom: 40px;
        height:570px;
    }
    #noCarFound
    {
        text-align:center;
        color:red;
        margin-top:10px; 
        margin-bottom:80px;
        margin-right:2%;
    }
    .setMe{
        margin-top: 45px;
    }
    .paraText{
        background-color:#f7f7f7;
        height:102px;
        margin-left: -31px;
        padding:10px;
        font-size:14px;
    }
}